<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="shortcut icon" href="..media/images/favicon.ico" type="image/x-icon"/>
		<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		
		<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/css/sections.css"/>
		<title>Entrecalle</title>
		</head>
		<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=225008170863169";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 

<div id="sections">
          <section>
    <div id="middle_s">
              <div id="medium">
            <div class="terms_title"><span>Mi Perfil (usuario)</span></div>
        <div class="clear"></div>
        <div id="anunciate_box">
          <div class="campo_anunciate">
            <label>Apodo o <br />
                Usuario:</label>
              <input id="username" type="text" maxlength="16" title="max. 16 caracteres" class="validate[required] text-input"/>
            </div>
          <div class="campo_anunciate">
              <label>Contraseña:</label>
              <input id="password" type="password" title="min. 8 caracteres" class="validate[required] text-input" />
          </div>
          <div class="campo_anunciate">
              <label>Confirma<br />
                Contraseña:</label>
              <input id="cpassword" type="password" title="min. 8 caracteres" class="validate[required,equals[password]]"/>
            </div>
          <div class="button_1">guardar</div>
   			    </div>
                <div id="perfil_imagen">
                <img src="{{MEDIA_URL}}/images/dummys/dummy_user_m.png"/></div>
              </div>
              </div>
    <!--end middle--> 
  </section>
          <!--end foot--> 
          
        </div>
<!--end wrapper-->

</body>
</html>
