<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="shortcut icon" href="..media/images/favicon.ico" type="image/x-icon"/>
		<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		
		<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/css/sections.css"/>
		<title>Entrecalle</title>
		</head>
		<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=225008170863169";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 

<div id="sections">
          <section>
    <div id="middle_s">
              <div id="medium">
                  <div class="terms_title"><span>Anúnciate en Entrecalle</span></div>
        <div class="clear"></div>
        			<section id="headers">
                    <h2></h2>
                    <p>Entrecalle es la única plataforma web en México que congrega los valores más influyentes de la arquitectura y los temas relacionados sobre los usuarios de internet: geolocalización, fotografías, reseñas, comentarios, datos curiosos, artículos y principalmente la participación social. 
                    Nuestro sitio contiene una valiosa comunidad de ciudadanos interesados en aportar y comunicar lo que sucede en el país.</p>
                    </section>
                    
          
                    <div id="anunciate_box">
                    <div class="campo_anunciate"><label>Nombre</label><input name="" type="text" class="anunciate_txt"></div>
        <div class="campo_anunciate"><label>Correo electrónico</label><input name="" type="text" class="anunciate_txt"></div>
                  <div class="campo_anunciate"><label>Empresa</label><input name="" type="text" class="anunciate_txt"></div>
                   <div class="campo_anunciate"><label>Ciudad</label><input name="" type="text" class="anunciate_txt"></div>
                  <div class="campo_anunciate"><label>Teléfono</label><input name="" type="text" class="anunciate_txt"></div>
                  <div class="campo_anunciate"><label>Mensaje</label><textarea name="" cols="" rows=""></textarea></div>
                </div>
                
                <div id="anunciate_txt">
                <p><strong>Cifras...</strong></p>
                <p>Ofrecemos métricas de:</p>
                <ul>
                <li>Visitas diarias</li>
                <li>Sesión promedio por usuario</li>
                <li>Hits en páginas por semana</li>
                </ul>
                <p></p>
                <p>Nuestra comunidad y usuarios:</p>
                <ul>
                <li>Jóvenes</li>
                <li>Estudiantes y profesionistas</li>
            <li>Interesados en: arquitectura, fotografía, diseño, construcción, arte, historia, espacio urbano, etc...</li>
                <li>Ciudadanos participativos socialmente</li>
                </ul>
                
                </div>
      </div>
      
      <div id="dummy_banners">
      <div class="dummy"><img src="{{MEDIA_URL}}/images/dummys/90x90.png" width="90" height="90"/></div>
      <div class="dummy"><img src="{{MEDIA_URL}}/images/dummys/140x140.png" width="140" height="140"/></div>
      <div class="dummy"><img src="{{MEDIA_URL}}/images/dummys/270x103.png" width="270" height="103"/></div>
      <div class="dummy"><img src="{{MEDIA_URL}}/images/dummys/100x100.png" width="100" height="100"/></div>
      </div>
              
            </div>
    <!--end middle--> 
  </section>
          <!--end foot--> 
          
        </div>
<!--end wrapper-->

</body>
</html>
