<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="shortcut icon" href="..media/images/favicon.ico" type="image/x-icon"/>
		<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		
		<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/css/sections.css"/>
		<title>Entrecalle</title>
		</head>
		<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=225008170863169";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 

<div id="sections">
          <section>
    <div id="middle_s">
              <div id="medium">
                  <div class="terms_title"><span>Contacto</span></div>
        <div class="clear"></div>
        			<section id="headers">
                    <h2></h2>
                    <p>Ponte en contacto con nosotros si tienes dudas, deseas enviarnos contenido, noticias importantes en torno a un edificio, invitarnos a eventos o simplemente quieres ayudarnos a mejorar la comunidad.</p>
       			</section>
        			<div id="anunciate_box">
        			  <div class="campo_anunciate">
        			    <label>Nombre:</label>
        			    <input name="input" type="text">
      			    </div>
        			  <div class="campo_anunciate">
        			    <label>Correo electrónico:</label>
        			    <input name="input2" type="text">
      			    </div>
        			  <div class="campo_anunciate">
        			    <label>Sitio web/blog:</label>
        			    <input name="input2" type="text">
      			    </div>
        			  <div class="campo_anunciate">
        			    <label>Comentarios:</label>
        			    <textarea name="textarea" cols="" rows="5"></textarea>
      			    </div>
                    <div class="button_1">Enviar</div>
   			    </div>
                <div id="anunciate_txt">
                <p><strong>Recuerda...</strong></p>
                <p>Si eres: arquitecto, fotógrafo, artista urbano, ingeniero, diseñador, paisajista, constructor, amante de la historia de México, etc...</p>
                <p><strong>Y tienes...</strong></p>
                
              <p>Empresa, despacho, estudio, taller, despacho, sitio web, blog, marcas, obras, productos, o servicios...</p>
              <p><strong>Te puedes anunciar en nuestros diferentes espacios...</strong></p>
              <p><a href="anunciate.html">Entra aquí y conoce como podemos ayudarte.</a></p>
                
                </div>
              </div>
              
            </div>
    <!--end middle--> 
  </section>
          <!--end foot--> 
          
        </div>
<!--end wrapper-->

</body>
</html>
