<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="..media/images/favicon.ico" type="image/x-icon"/>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/css/sections.css"/>
<title>Entrecalle</title>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=225008170863169";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="sections">
  <section>
		<div id="middle_s">
              <div id="medium">
        <div class="terms_title"><span>Políticas de privacidad</span></div>
        <div class="clear"></div>
        <section id="headers">
          <h2>BIENVENIDO!!!</h2>
          <h3>Porfavor lee éstas condiciones del sitio antes de usarlo.</h3>
          <h3>Al mometo de hacer uso del sitio estarás acpetando las condiciones aquí enunciadas.</h3>
          <h3>Nos reservamos el derecho de cambiar éstas condicones de uso en cualquier momento.</h3>
          <h3>La versión más actualizada de éstas condiciones estara disponible en: www.entrecalle.com/terminosdeuso</h3>
        </section>
          <div id="privacy_txt"> 
            <p>
              <!--<p><strong>Política De Privacidad.</strong></p>
          <p>&nbsp;</p>
<p>Por medio de nuestra política de privacidad le ponemos al tanto de las debidas condiciones de uso en este sitio.</p>
<p>La utilización de estos implica su aceptación plena y sin reservas a todas y cada una de las disposiciones incluidas en este Aviso Legal, por lo que si usted no está de acuerdo con cualquiera de las condiciones aquí establecidas, no deberá usar u/o acceder a este sitio.</p>
<p>Reservamos el derecho a modificar esta Declaración de Privacidad en cualquier momento. <br>
  Su uso continuo de cualquier porción de este sitio tras la notificación o anuncio de tales modificaciones constituirá su aceptación de tales cambios.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Galletas o Cookies.</strong></p>
<p>&nbsp;</p>
<p>Este sitio hace uso de cookies, el cual son pequeños ficheros de datos que se generan en su ordenador, el cual envía información sin proporcionar referencias que permitan deducir datos personales de este.</p>
<p>Usted podrá configurar su navegador para que notifique y rechace la instalación de las cookies enviadas por este sitio, sin que ello perjudique la posibilidad de acceder a los contenidos. Sin embargo, no nos responsabilizamos de que la desactivación de los mismos impida el buen funcionamiento de la del sitio.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Marcas Web o Web Beacons.</strong></p>
<p>&nbsp;</p>
<p>Al igual que las cookies este sitio también puede contener web beacons, un archivo electrónico gráfico que permite contabilizar a los usuarios que acceden al sitio o acceden a determinadas cookies del mismo, de esta manera, podremos ofrecerle una experiencia aún más personalizada.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Acciones De Terceros.</strong></p>
<p>&nbsp;</p>
<p>Asimismo, usted encontrará dentro de este sitio, páginas, promociones, micrositios, tiendas virtuales, encuestas, patrocinadores, publicistas, contratistas y/o socios y servicios comerciales, en conjunto con otros servicios compartidos, propios o cobrandeados con terceros (”Sitios Cobrandeados”) que le podrán solicitar Información, los cuales este sitio le podrá revelar información proporcionada por usted.<br>
  <br />
La Información que se proporcione en estos Sitios Cobrandeados esta sujeta a las políticas de privacidad o leyendas de responsabilidad de Información que se desplieguen en dichos Sitios y no estará sujeta a esta política de privacidad. Por lo que recomendamos ampliamente a los Usuarios a revisar detalladamente las políticas de privacidad que se desplieguen en los Sitios Cobrandeados.</p>
<p>&nbsp;</p>
<p><strong>Política De Privacidad De La Publicidad Proporcionada En Este Sitio:</strong></p>
<p>&nbsp;</p>
<p>Nosotros estudiamos las preferencias de nuestros usuarios, sus características demográficas, sus patrones de tráfico, y otra información en conjunto para comprender mejor quiénes constituyen nuestra audiencia y qué es lo que usted necesita. El rastreo de las preferencias de nuestros usuarios también nos ayuda a servirle a usted los avisos publicitarios más relevantes.</p>
<p>&nbsp;</p>
<p>Política De Privacidad De Fuentes De Rastreo Utilizadas En Este Sitio:</p>
<p>Google (Analytics): <a href="http://www.google.com/intl/es_ALL/privacypolicy.html">http://www.google.com/intl/es_ALL/privacypolicy.html</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><br />
</p>
<p><strong>Política De Protección De Datos Personales</strong></p>
<p>&nbsp;</p>
<p>Para utilizar algunos de los servicios o acceder a determinados contenidos, deberá proporcionar previamente ciertos datos de carácter personal, que solo serán utilizados para el propósito que fueron recopilados.</p>
<p>&nbsp;</p>
<p>El tipo de la posible Información que se le sea solicitada incluye, de manera enunciativa más no limitativa, su nombre, dirección de correo electrónico (e-mail), fecha de nacimiento, sexo, ocupación, país y ciudad de origen e intereses personales, entre otros, no toda la Información solicitada al momento de participar en el sitio es obligatoria de proporcionarse, salvo aquella que consideremos conveniente y que así se le haga saber.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Cómo principio general, este sitio no comparte ni revela información obtenida, excepto cuando haya sido autorizada por usted, o en los siguientes casos:</p>
<p><br />
  <strong>a)</strong> Cuando le sea requerido por una autoridad competente y previo el cumplimiento del trámite legal correspondiente.</p>
<p>&nbsp;</p>
<p> <strong>b)</strong> Cuando a juicio de este sitio sea necesario para hacer cumplir las condiciones de uso y demás términos de esta página, o para salvaguardar la integridad de los demás usuarios o del sitio. Deberá estar consciente de que si usted voluntariamente revela información personal en línea en un área pública, esa información puede ser recogida y usada por otros. Nosotros no controlamos las acciones de nuestros visitantes y usuarios.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Conducta Responsable.</strong></p>
<p>&nbsp;</p>
<p>Toda la información que facilite deberá ser veraz. A estos efectos, usted garantiza la autenticidad de todos aquellos datos que comunique como consecuencia de la cumplimentación de los formularios necesarios para la suscripción de los Servicios, acceso a contenidos o áreas restringidas del sitio. En todo caso usted será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a este sitio o a terceros por la información que facilite. Usted se compromete a actuar en forma responsable en este sitio y a tratar a otros visitantes con respeto.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Contacto.</strong></p>
<p>&nbsp;</p>
<p>Si tiene preguntas o cuestiones sobre esta Política, no dude en contactarse en cualquier momento a través del formulario de contacto disponible en el sitio o por medio del correo electrónico tuemail@tusitio.com</p><!-->
              
              
              AL CONTINUAR USANDO NUESTRO SITIO, DAS POR ACEPTADA ESTA POLÍTICA DE PRIVACIDAD. SI NO ESTÁS DE ACUERDO CON ELLA, O CON CUALQUIER CAMBIO QUE INTRODUZCAMOS, DEBES DEJAR DE USAR ESTE SITIO DE FORMA INMEDIATA.
              
            </p>
            <p>&nbsp;</p>
            <p><strong>1. Nuestro sitio usualmente recoge dos tipos de información acerca de ti.</strong> </p>
            <p><strong>(a)</strong> La información que permite identificarte cuando te registras en el sitio; además de la que nos entregas y compartes en el sitio. </p>
            <p><strong>(b)</strong> La información que no te identifica personalmente, y que almacenamos automáticamente cuando visitas el sitio o que tú mismo entregas al hacer uso de éste. </p>
            <p>&nbsp;</p>
            <p>Esta información puede incluir, entre otras cosas: tu dirección IP, el tipo de navegador que usas, el sitio web desde el que se originó tu visita, el sistema operativo que usa tu ordenador, el nombre de dominio de tu proveedor de internet, los términos de búsqueda que usaste en tu buscador, las ventanas específicas que visitaste en nuestro sitio, y tu tiempo de permanencia en Entrecalle.com</p>
            <p>&nbsp;</p>
            <p> Definición de información personal que permite identificarte.
              Nuestra definición de información personal que permite identificarte incluye cualquier dato que podría ser usado para saber quién eres o entrar en contacto contigo, como es el caso de tu nombre, tu dirección de correo, tu dirección postal, tu número telefónico, etc.
              
            </p>
            <p>&nbsp;</p>
            <p>Como regla general, no recabamos automáticamente la información personal que permite identificarte cuando visitas nuestro sitio a menos que seas usuario registrado. En ciertas circunstancias, podremos solicitarte o bien invitarte a que nos proporciones ese tipo de datos en relación con un nuevo servicio, programa, o promoción en que contar con esos datos sea relevante.
              
            </p>
            <p>En esos casos podrás entregarnos:
              
            </p>
            <p><strong>(a)</strong> Tu nombre, dirección de correo electrónico, dirección postal, el número de tu tarjeta de crédito, y tu número telefónico, dentro del proceso de registro en nuestro sitio, o para hacer transacciones en relación con alguna promoción o concurso. </p>
            <p><strong>(b)</strong> Entregarnos cierta información demográfica relacionada contigo (como por ejemplo tu edad, género, preferencias de compra, frecuencia de uso de nuestro y/o otros sitios, etc.), cuando respondas una encuesta o cuestionario relacionados con nuestros servicios. </p>
            <p><strong>(c)</strong> Evaluar un producto o servicio en nuestro sitio (En estos casos, cierta información por sí misma no necesariamente permite identificarte -como tu edad-, pero en otros casos sí – tu edad y tu nombre).</p>
            <p> En todos estos casos podrás negarte a entregarnos tu información, pero es importante que sepas que en ciertas ocasiones estos datos son requeridos para participar en determinadas actividades, recibir algún beneficio que estemos ofreciendo, o acceder a ciertos contenidos y servicios dentro de nuestro sitio.
              
              Definición de información no personal.
            </p>
            <p>Nuestra definición de información no personal es cualquier información que no permite identificarte. La información no-personal puede llegar a incluir ciertos datos que podrían servir para saber quién eres, pero que han sido previamente protegidos por el anonimato al combinarlos con los datos de otros usuarios.
              
            Dirección IP. (considerada como información no-personal) Es un número que automáticamente se asigna a cada computadora cada vez que un usuario está navegando en internet. </p>
            <p>Cuando cargas una página de nuestro sitio, nuestro servidor típicamente registra esa dirección IP.
              
            Recolectamos las direcciones IP para administrar y monitorear el desempeño de nuestro sitio web. Tu sesión será registrada, pero tu identidad permanecerá anónima para nosotros. </p>
            <p>De cualquier modo, nos reservamos el derecho de usar la dirección IP para identificar a un usuario cuando creemos que es necesario para proteger a nuestros usuarios o a nosotros mismos del mal uso por parte de otros hacia el sitio.
              
            </p>
            <p><em><strong>Cookies;</strong></em> las Cookies por sí mismas no contienen información que permita identificarte. Una “Cookie” es un pequeño archivo de texto de un sitio web que se almacena en tu disco duro. Estos archivos de texto hacen que la experiencia de usar nuestro sitio web sea mejor, porque permiten almacenar tus contraseñas y tus preferencias personales, entre otras cosas. </p>
            <p>Podríamos analizar la información que surge de estas cookies y otras herramientas que usamos para relacionar esta información con aquella que tú compartiste en el sitio. Podríamos entregar nuestros análisis y cierta información no-personal a terceras partes, que a su vez podrían usar estos datos para entregar publicidad asociada a tus intereses, pero esto nunca supondrá revelar datos personales que permitan conocer tu identidad.            </p>
            <p>&nbsp;</p>
            <p><strong>2. Diversos usos que damos a la información que recopilamos.</strong></p>
            <p> Tu información personal (la que permite identificarte) no será nunca compartida o vendida a terceros, sin mediar tu autorización previa.
              
            En ciertas ocasiones podremos compartir tu información personal que permite identificarte con terceras partes o agentes afiliados que prestan servicios en nuestro nombre. </p>
            <p>Es el caso, por ejemplo, de compañías que procesan transacciones a través de tarjetas de crédito, despachan mercancías, administran promociones o nos brindan apoyo de marketing o promocional. Nuestros asociados usan tu información sólo para cumplir con los servicios que nosotros les hemos solicitado, y no pueden darle otro uso a tus datos.
              
            </p>
            <p>En otras ocasiones podríamos compartir tu información personal con nuestros asociados en una promoción o concurso en el que participes a través de nuestro sitio web, o con terceras partes que nos apoyan en la gestión de ese tipo de eventos.
              
            </p>
            <p>También podríamos compartir tu información personal con terceras partes con quienes tenemos relaciones comerciales o de otro tipo.
              
              Usamos la información no-personal de diversas formas: para analizar el tráfico de nuestro sitio, entender mejor las necesidades de nuestros usuarios, definir tendencias en la forma en que nuestro sitio es usado, diseñar actividades promocionales, y cualquier otro tipo de acción que permita mejorar nuestro servicio.
              
            </p>
            <p>Podríamos usar tu información no-personal para agregarla con la que hemos recabado de otros, para de esa forma volverla anónima. Esta información agregada y anónima, podría ser compartida con terceras partes para fines promocionales, de marketing o de otro tipo.
              
            </p>
            <p>&nbsp;</p>
            <p><strong>3. Tu información personal a salvo.            </strong></p>
            <p>Hemos implementado medidas de seguridad que consideramos apropiadas y razonables para proteger la pérdida o mal uso o alteración de la información que está en nuestro poder. Sin embargo, debes saber que si bien nos esforzamos por proteger tu privacidad y tu información personal, no podemos garantizar o certificar la seguridad de ningún tipo de información que nos entregas. No somos responsables por el robo, destrucción o revelación involuntaria de la información personal. En el caso de que la información personal que nos entregaste se viera comprometida, te contactaremos al último correo electrónico que registraste, de la forma más expedita que nos sea posible. </p>
            <p>De cualquier forma, podríamos sufrir retrasos en las notificaciones mientras tomamos las medidas necesarias para determinar la magnitud del problema, y restablecer la integridad de nuestros sistemas. Ten presente que dicha notificación también podría demorarse en el caso de que alertarte pudiese impedir o dificultar la correcta persecución penal de los responsables.
              
            </p>
            <p>&nbsp;</p>
            <p><strong>4. Otros usos e informaciones.
            </strong></p>
            <p>Ten en cuenta que los anunciantes de publicidad en nuestro sitio podrían usar sus propias cookies y otras herramientas, que están referidas en nuestra política de anunciantes.
              
              Si eliminas una cookie manualmente de tu disco duro a través del navegador, ten en cuenta que ciertas partes o servicios de nuestro sitio podrían no funcionar o hacerlo con limitaciones en caso de que desactives las cookies.
            </p>
            <p>  </p>
            <p><strong>5. Comunicación a través de tu correo electrónico.
            </strong></p>
            <p>Si nos envías un correo electrónico con preguntas y/o comentarios, podríamos usar la información personal que nos entregaste para entrar en contacto contigo. Sin embargo, y aparte de este tipo de comunicación, no es nuestra práctica enviar e-mails salvo que tú te hayas suscrito a alguna notificación o convocatoria. </p>
            <p>Puedes contactarnos en el correo info@entrecalle.com en caso de que tengas preguntas o comentarios respecto de nuestras Políticas de Privacidad; si deseas hacer correcciones respecto de la información personal con que te registraste; si deseas retirar tu consentimiento para que podamos compartir con otros tu información personal que permite identificarte.</p>
            <p> Responderemos tus consultas y solicitudes y, en caso de que apliquen y sean pertinentes, ejecutaremos los cambios que nos solicites en nuestras bases de datos tan rápido como nos sea posible. Recuerda que ciertas exigencias podrían implicar que bloqueemos tu libertad a colaborar en nuestro sitio. </p>
            <p>&nbsp;</p>
            <p><strong>6. Transferencias de activos.            </strong></p>
            <p>A medida que desarrollemos productos y servicios de Entrecalle, puede ocurrir que transfiramos algunos de ellos a terceras partes. </p>
            <p>Si otra compañía o institución adquiere Entrecalle.com, la información personal que hemos acumulado de los usuarios será también transferida con el resto de los activos y podrá ser usada por esa nueva compañía. Del mismo modo, en caso de quiebra u otro procedimiento de reorganización que nos veamos obligados a emprender, la información personal que hayamos recabado podrá ser considerada un activo y ser transferida o vendida a terceros.
              
            </p>
            <p>Nos reservamos el derecho de revelar cualquier información personal acerca de ti que nos sea requerida a través de un requerimiento legal por parte de:
            </p>
            <p><strong>(a) </strong>Una agencia gubernamental.</p>
            <p><strong>(b) </strong>Un juzgado, tribunal o corte con la autoridad para exigirlo.</p>
            <p> <strong>(c)</strong> Proteger nuestros derechos legales y nuestra propiedad, o nuestro sitio web o a nuestros usuarios.</p>
            <p>&nbsp; </p>
            <p><strong>7. Foro Público.            </strong></p>
            <p>En nuestro sitio web existen diversos espacios en los que tú y otros usuarios pueden comunicarse a manera de foro público. Por lo que nuestras Políticas de Privacidad no aplican en esos espacios cuando publicas información personal en ellos. </p>
            <p>Sin embargo, nosotros podríamos usar tu información personal para identificar los comentarios que publicas.
              
            Toda información que publicas voluntariamente en éstos espacios de comunicación pública, podría ser vista y recabada por cualquiera, incluyendo terceras partes que no adhieren ni respetan nuestras Políticas de Privacidad. </p>
            <p>No somos responsables de las consecuencias que puedan derivarse de tu decisión de publicar información en los foros de nuestro sitio. </p>
            <p>&nbsp;</p>
            <p><strong>8. Menores de edad.
            </strong></p>
            <p>Todos los servicios por los que podríamos requerir tu información personal no están dirigidos a niños. No solicitamos información personal de menores de 13 años, Si tú eres el padre o tutor de un niño o niña menor de 13 años y crees él o ella nos ha entregado información personal, por favor contáctanos en info@entrecalle.com para solicitar que la eliminemos o impedirnos usarla. </p>
            <p>&nbsp;</p>
            <p><strong>9. Enlaces a otros sitios.
            </strong></p>
            <p>Nuestro sitio puede enlazar a muchos otros sitios de internet, que no administramos ni tenemos control, ya sea porque los mismos usuarios los publican; los publican nuestros anunciantes o incluso nosotros mismos. En el caso de la compra de productos o servicios referidos en nuestro sitio, o de los banners publicitarios, recuerda que nos somos responsables por las prácticas de privacidad que esas terceras partes tengan o apliquen.
              
              Te recomendamos que cada vez que abandones nuestro sitio para visitar otro enlazado, leas la política de privacidad de dicho sitio antes de entregar cualquier tipo de información personal. </p>
            <p>&nbsp;</p>
            <p><strong>10. Modificaciones a ésta Política de privacidad.            </strong></p>
            <p>Así como el aporte de la comunidad de Entrecalle es esencial para el crecimiento de nuestro acervo colectivo, creemos que el aporte de la comunidad es esencial para que nuestras Políticas de privacidad sirva a nuestros usuarios apropiadamente. </p>
            <p>Para cambios por razones legales o administrativas, para corregir una afirmación imprecisa, o cambios en respuesta a comentarios de la comunidad, nosotros tenemos la intención, mas no la obligación, de circular en nuestro sitio web un aviso con al menos un (1) día de antelación.              </p>
            <p>Te pedimos que por favor revises periódicamente la versión más actualizada de éstas Políticas de privacidad en Entrecalle.com. </p>
            <p>El continuar haciendo uso de nuestros servicios constituye una aceptación por tu parte, de nuestras Política de privacida, si no las aceptas, NO puedes usar nuestros servicios. </p>
          </div>
          </div></div>
        </section>
      </div>
  


</body>
</html>
