<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="shortcut icon" href="..media/images/favicon.ico" type="image/x-icon"/>
		<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		
		<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/css/sections.css"/>
		<title>Entrecalle</title>
		</head>
		<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=225008170863169";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 

<div id="sections">
          <section>
    <div id="middle_s">
              <div id="medium">
                  <div class="terms_title"><span>Términos y condiciones de Uso</span></div>
        <div class="clear"></div>
        			<section id="headers">
                    <h2>BIENVENIDO!!!</h2>
                    <h3>Porfavor lee éstas condiciones del sitio antes de usarlo.</h3>
                    <h3>Al mometo de hacer uso del sitio estarás acpetando las condiciones aquí enunciadas.</h3>
                    <h3>Nos reservamos el derecho de cambiar éstas condicones de uso en cualquier momento.</h3>
                    <h3>La versión más actualizada de éstas condiciones estara disponible en: www.entrecalle.com/terminosdeuso</h3>
                    </section>
                    
          
                    <div id="terminos_txt">
                    <h2>En resumen, lo que debes saber.</h2>
                    

<p>Recuerda que eres responsable del contenido que compartas por lo que debe reflejar tu honestidad, compromiso y el respeto a derechos de autor que involucres. Todo el contenido que compartas en nuestro sitio, se considerará de dominio público, sin embargo, te alentamos a siempre especificar la atribución de derechos de autor de cada contenido si lo conoces.</p>

<p>Como nos dedicamos a ofrecer acceso libre al contenido, generalmente requerimos que todo el contenido con el que contribuyes se publique bien bajo una licencia libre o bien se encuentre en el dominio público.</p>
<p>En Entrecalle no estamos obligados a editar y revisar todo el contenido agregado por los usuarios al sitio; sin embargo, nos reservamos el derecho de editar libremente según nuestros propios criterios para mejorar el contenido.</p>


<p>El contenido gráfico y textual debe compartirse con discreción. Este acervo colectivo no debe mostrar violencia o sufrimiento explícito humano o animal.</p>


<p>Otros usuarios podrán editar tu contenido pero también reportarte en caso de incumplir con éstos Términos de Uso. Entrecalle se reserva el derecho de cancelar permanentemente aquellas cuentas de usuario de quienes incumplan nuestros Términos de uso.</p>


<p>Como usuario, no puedes violar la intimidad de terceros, hostigar, realizar actividades de publicidad de marcas o productos que no pertenezcan a Entrecalle, participar en declaraciones falsas intencionadas, suplantaciones o fraude.</p>

<p>En Entrecalle no asumimos ni garantizamos ni respaldamos la exactitud del contenido generado por los usuarios o por nosotros mismos. Simplemente representa diferentes puntos de vista alojados en nuestro sitio.</p>


<p>No debes publicar anuncios, promociones o hacer publicidad de cualquier negocio, empresa o marca en ninguno de los medios digitales que permite el sitio. Puedes contactarte con nosotros a info@entrecalle.com en caso de querer publicitarte en nuestro sitio.</p>


<p>Incluimos otros avisos y limitaciones generales de responsabilidad, de manera que por favor, lee éstos términos y condiciones de uso por completo.</p>


<p><strong>Renuncia:</strong> Este resumen no es parte de los Términos de uso y no puede ser considerado como un documento legal. Es simplemente una referencia generalizada de los términos de uso en su totalidad, por lo que puede no incluir otros términos de uso importantes.</p>
<p>&nbsp;</p>





<h2><p>AL CONTINUAR USANDO NUESTRO SITIO, DAS POR ACEPTADA ESTA POLÍTICA DE PRIVACIDAD. SI NO ESTÁS DE ACUERDO CON ELLA, O CON CUALQUIER CAMBIO QUE INTRODUZCAMOS, DEBES DEJAR DE USAR ESTE SITIO DE FORMA INMEDIATA.</p>
  <p>&nbsp;</p>
</h2>

<h3>1. No ejercemos necesariamente un rol editorial.</h3>
<p>Todo el contenido que se alberga en el sitio lo proveen los usuarios. Por tal motivo, en Entrecalle no ejercemos un rol editorial. Generalmente no monitoreamos o editamos el contenido y por ende, no ejercemos responsabilidad alguna por lo que se publique. Del mismo modo, no respaldamos ninguna opinión expresada a través de nuestros servicios, y no representamos o garantizamos la veracidad, exactitud o confiabilidad del contenido publicado por la comunidad. En Entrecalle simplemente proveemos acceso al contenido con que los usuarios han contribuido y editado.</p>
<p>Nos reservamos el derecho, de acuerdo a nuestro propio criterio, de intervenir y editar aquellas aportaciones en las que consideramos, podemos mejorar o ampliar la publicación de los usuarios.</p>
<p>&nbsp;</p>


<h3>2. Protección de datos.</h3>
<p>Le pedimos que revise nuestra política de protección de datos, para que se informe de la manera en la que recopilamos y usamos su información. Dado que nuestros servicios también pueden ser usados por personas fuera de México, la información personal que nosotros recopilamos puede ser guardada y procesada en México o en cualquier otro país en el cual Entrecalle tenga labores. Usando nuestros servicios usted consiente a dicha transferencia de información fuera de su país.</p>
<p>&nbsp;</p>

<h3>3. Podemos descontinuar o suspender este sitio web, o restringir tu uso.</h3>
<p>Nos reservamos del derecho de suspender, modificar o descontinuar este sitio web, o cualquier parte de él, de manera temporal o permanente, con o sin previo aviso. Al aceptar estas condiciones de uso, aceptas que Entrecalle.com  no tiene obligación alguna de prestar este servicio. Adicionalmente, nos reservamos el derecho de impedirte el acceso total o parcial a nuestro sitio, y de tomar cualquier otro tipo de acción que, a nuestro entender, esté en el mejor interés de nuestros objetivos o de nuestros usuarios en general.</p>
<p>&nbsp;</p>

<h3>4. Tú nos entregas ciertos derechos cuando haces uso del sitio.</h3>
<p>Al agregar contenido en nuestro sitio, con independencia de la forma o el medio en que esa publicación se lleve a cabo, nos entregas el derecho de desplegar o publicar dicho contenido en nuestro sitio o en nuestros sitios afiliados, en la forma y contexto que sea de nuestro interés y a través de trabajos derivativos o cualquier otro tipo de adaptación digital o impreso. Asimismo, nos entregas el derecho de almacenar, distribuir y usar para fines promocionales o de mercadeo dicho contenido.</p>

<p>El contenido en Entrecalle existe sólo porque hay una valiosa comunidad de usuarios como tú que colaboran en conjunto para escribir, editar y mejorar el contenido. Nosotros agradecemos enormemente tu participación en esta comunidad. Te animamos a que seas cívico y educado en tus interacciones con los demás en la comunidad, que actúes de buena fe, y realices ediciones y contribuciones orientadas a fomentar la divulgación arquitectónica, histórica y social de México.</p> 

<p>Nos reservamos el derecho de eliminar o editar, sin previo aviso ni justificación, cualquier tipo de contenido que haya sido publicado, compartido o enviado según nuestro propio criterio o por denuncia de otros usuarios.</p>

<p>En casos inusuales, puede surgir la necesidad, o la comunidad puede pedirnos, que atendamos la situación de un usuario especialmente problemático debido a disturbios o comportamiento peligroso significativos. Así mismo, podríamos vernos obligados a revelar cierta información. A través de estas condiciones de servicio aceptas que, en caso de que recibamos un requerimiento judicial de una corte o tribunal o de una agencia gubernamental con la autoridad para demandarnos la entrega de información, cumplamos con dicho requerimiento sin tu consentimiento o autorización previa.</p>

<p>En esos casos, nos reservamos el derecho pero no la obligación de investigar el uso que hace usted de nuestros servicios para:</p>

<ul>
<li><strong>(a)</strong> Determinar si ha existido una violación a estos Términos y Condiciones de Uso, a alguna política de edición de contenido u otra ley o política.</li>
<li><strong>(b)</strong> Para cumplir cualquier ley o proceso legal aplicable o solicitud gubernamental apropiada.</li>
<li><strong>(c)</strong> Detectar, prevenir, o de cualquier modo abordar casos de fraude, seguridad o problemas técnicos, o responder a solicitudes de asistencia a los usuarios.</li>
<li><strong>(d)</strong> Rechazar, deshabilitar o restringir el acceso a la contribución de cualquier usuario que viole estos términos y condiciones de uso.</li>
<li><strong>(e)</strong> Bloquear a un usuario de editar o contribuir, bloquear la cuenta de un usuario o su acceso por acciones que violen estos Términos y condiciones de uso, incluyendo infracciones repetidas a derechos de autor.</li>
<li><strong>(f)</strong> Tomar medidas legales contra usuarios que violen estos términos y condiciones de uso (incluyendo la presentación de informes a las autoridades legales).</li>
<li><strong>(g)</strong> Gestionar de otro modo nuestros sitios web de manera de facilitar su buen funcionamiento y proteger los derechos, propiedad y seguridad de nosotros mismos y nuestros usuarios, concesionarios, socios y público en general.</li>
<li></li>
<li></li>
<li></li>
</ul>

<h3>5. Tú responsabilidad como usuario.</h3>
<p>Tú eres el único responsable del contenido que nos envías, y aceptas las consecuencias de publicarlo. Ciertas actividades, sean éstas legales o ilegales, pueden ser perjudiciales para otros usuarios o violar nuestras reglas y reputación.</p>

<p>Así pues, respecto de cada contenido que publiques, en cualquiera de sus formas y para tu propia protección y por la de los demás usuarios, NO debes cometer y/o participar de las siguientes actividades en nuestro sitio:</p>

<p>Respetar los derechos de autor. Compartir material que esté protegido por derecho de autor o de propiedad intelectual o cualquier otro tipo de protección legal, incluyendo los derechos de privacidad, sin ser el legítimo titular de esos derechos o contar con la autorización formal de su debido titular para otorgarnos el derecho a usarlo en las condiciones definidas en este documento.</p>

<p>En todo caso usted será el propietario o está en posesión de los debidos derechos, licencias, permisos o consentimientos, para usar y autorizarnos a nosotros a usar todas las patentes, marcas, y derechos de autor que correspondan, en los términos que estas condiciones de uso señalan.</p>

<p>Hostigar y/o acosar. Participar en hostigamiento, acoso, amenazas, acecho, publicidad (spam) o vandalismo. Tampoco en la transmisión de correo electrónico en cadena, correo basura o correo no deseado a otros usuarios.</p>

<p>Violar la intimidad de los demás. Infringir los derechos a la intimidad personal de los demás al amparo de la legislación mexicana o de otros ordenamientos jurídicos aplicables en el país en el que usted viva o donde usted ve o edita el contenido.</p> 

<p>No puede solicitar información personal identificable de adultos ni menores de 18 años con el propósito de hostigar, atacar, explotación, violación de la intimidad o cualquier propósito promocional y/o comercial no aprobado de manera explícita por Entrecalle.</p>

<p>Participar en declaraciones falsas, suplantaciones o fraude. Publicar de manera intencionada o con conocimiento, contenido que constituya injurias o calumnias con el intento de engañar o difamar.</p>

<p>Intentar usurpar la identidad de otro usuario o persona, usando el nombre de usuario de otro usuario con el propósito de engañar; y realizar o participar en actividades fraudulentas.</p>

<p>Utilizar nuestros servicios para otras actividades ilícitas. Publicar amenazas, o material obsceno, difamatorio, injurioso, pornográfico, que incite al odio o al maltrato animal, que sea racial o étnicamente ofensivo, que incite a conductas criminales, que transgreda las leyes, o que en general pueda ser considerado inapropiado.</p>

<p>Publicar anuncios, promociones o hacer publicidad de cualquier negocio, empresa o marca en ninguno de los medios digitales que permite el sitio.</p>

<p>Hacer un uso indebido y/o ilegal de nuestro sitio y servicios. Publicar o distribuir contenido que contenga virus, malware, gusanos, caballos de Troya, código malicioso u otros dispositivos que pueda dañar nuestra infraestructura o sistemas técnicos o los de nuestros usuarios.
Trastornar los servicios mediante la colocación de una carga indebida en el sitio web o las redes o servidores conectados al sitio web de Entrecalle.</p>

<p>Trastornar los servicios mediante el desbordamiento del sitio web mediante comunicaciones u otro tráfico de contenido que no sugiera ningún interés serio en usar el sitio web para su cometido establecido.</p>

<p>Acceder, manipular o usar cualquiera de nuestras áreas no públicas de nuestros sistemas informáticos sin autorización. Tampoco sondear, escanear o probar la vulnerabilidad de cualquiera de nuestros sistemas técnicos o redes, a menos que se cumplan todas las siguientes condiciones:
<p>Que las acciones no se realicen para ganancia personal (excepto por el crédito de su obra).</p>

<p>Que usted reporte las vulnerabilidades a los desarrolladores de Entrecalle y que no realice dichas acciones con intenciones maliciosas o destructivas.</p>
<p>&nbsp;</p>

<h3>6. Usted es el único responsable de sus aportaciones.</h3> 
<p>En Entrecalle no somos responsables ni necesariamente suscribimos o compartimos las opiniones expresadas por quienes comentan en o participan de nuestro sitio. Las opiniones y afirmaciones de cualquier tipo expresadas por nuestros usuarios o terceras partes les pertenecen a quienes las emiten o profieren, y no expresan ni representan la opinión de Entrecalle. El contenido creado por los usuarios y terceras partes es de su responsabilidad. No respaldamos las afirmaciones que esos usuarios o tercera partes emiten, ni certificamos ni avalamos su veracidad.</p>

<p>Usted es responsable legalmente de sus ediciones y sus contribuciones a Entrecalle. Para su propia protección, usted debe ejercitar la debida diligencia y evitar contribuir en cualquier tipo de contenido que pueda resultar en responsabilidad civil o criminal para usted bajo las leyes aplicables. Para mayor claridad, las leyes aplicables incluyen como mínimo las de México. Aunque las autoridades podrán intentar aplicar otras leyes a usted, incluyendo leyes locales de donde usted resida, vea o edite el contenido. Entrecalle no puede ofrecer ningún tipo de protección, garantía, inmunidad o indemnización.</p>

<p>Para hacer crecer la divulgación cultural de México, todos los usuarios que contribuyen deben otorgar permisos para redistribuir y reusar sus contribuciones libremente, siempre y cuando ese uso se atribuya adecuadamente y se otorguen las mismas libertades de reusar y redistribuir a cualquier obra derivada. Para cumplir con nuestra meta de proveer información libre a la mayor cantidad de personas, requerimos que cuando sea necesario todo el contenido que usted contribuya tenga una licencia que permita que cualquiera que le interese acceder a él pueda reusarlo libremente.</p>

<p>Al hacer uso del sitio usted acepta adherirse a los siguientes requisitos de licenciamiento:</p>

<p><em>Licencia Creative Commons Atribución-No Comercial-CompartirIgual 2.5 México</em></p>

<p>Por favor tenga en cuenta que dicha licencia no permite el uso comercial de sus contribuciones a menos que adquiera el permiso del titular de los derechos de autor.</p>

<p>Atribución. La atribución es una parte importante de estas licencias. Consideramos que es otorgar crédito cuando corresponde a los colaboradores como usted. Cuando usted contribuye con texto, usted acepta ser atribuido mediante la exhibición de su nombre de usuario en la lista de colaboradores en dicha edición.</p>

<p>Importar texto. Usted puede importar texto que encuentre en otro sitio o del que usted sea coautor, pero en esos casos usted debe garantizar que el texto esté disponible bajo términos compatibles con la licencia anteriormente mencionada.</p>

<p>Usted acepta que, si usted importa imágenes que requieren atribución, usted debe otorgar crédito a los autores de manera razonable.</p>

<p>Los requisitos de atribución a veces son demasiado molestos en circunstancias particulares por lo que le recomendamos siempre redactar sus propias reseñas, descripciones, crónicas y comentarios, ya sea en base a otras publicaciones pero a su manera y estructura personal.</p>

<p>No revocación de licencia. Excepto cuando sea consistente con su licencia, usted acepta que usted no revocará o buscará invalidar cualquier licencia que usted haya otorgado según estos Términos y condiciones de uso a contenido de medios textuales contribuido a Entrecalle, incluso si usted termina de usar nuestros servicios.</p>

<p>Contenido de dominio público. Este es el más bienvenido, sin embargo, debes confirmar que lo sea. Cuando usted contribuye con contenido en el dominio público, usted garantiza que el material realmente está en el dominio público, y usted acepta etiquetarlo apropiadamente.</p>


<p>Para cualquier medio no textual, usted acepta cumplir con cualquier licencia bajo la que se haya publicado la obra. Cuando no etiqueta la atribución en cualquier contenido que aporte, usted acepta cumplir con los requisitos de atribución de las licencias correspondientes.</p>
<p>&nbsp;</p>

<h3>7. Presuntas infracciones de contenido.</h3>
<p>Entrecalle quiere asegurar de que el contenido que se use inapropiadamente alojamos lo puedan utilizar otros usuarios sin riesgo de responsabilidad y que no infrinja los derechos propietarios de otros.</p>

<p>En caso de encontrar contenido que te pertenece como autor y fue publicado sin tu permiso puedes notificarlo a info@entrecalle.com, explicando tus intereses de derechos de autor y para solicitar tu derecho de remoción o de atribución correspondiente. Reconocemos que no todo aviso de remoción es válido o de buena fe por lo que animamos a la comunidad de Entrecalle a formular oposición cuando crean que una demanda de remoción es inválida o incorrecta.</p>
<p>&nbsp;</p>

<h3>8. Tu derecho de usar el contenido del sitio tiene restricciones. </h3>
<p>Aunque tienes libertades considerables para reusar el contenido de nuestro sitio, es importante remarcar que en Entrecalle protegemos nuestros derechos a marcas registradas, de manera de poder proteger a nuestros usuarios de impostores fraudulentos. Debido a ello, te pedimos que por favor respetes nuestra marca registrada. Cualquier uso de nuestro nombre comercial, marca registrada, logo y sus aplicaciones o nombres de dominios debe cumplir con estos Términos y condiciones de uso:</p>

<p><strong>(a)</strong> No podrás copiar, reproducir, distribuir, publicar, registrar en una base de datos, modificar, adaptar, crear trabajos derivativos, transmitir ni explotar nuestra marca.</p>

<p><strong>(b)</strong> No podrás distribuir nuestro sitio ni ninguna parte de él en ningún tipo de red, incluyendo las redes locales, ni crear con nuestro sitio cualquier tipo de base de datos, ni tampoco vender o ofrecer para la venta nuestros contenidos.</p>

<p>Puedes enlazar a Entrecalle.com, cumpliendo ciertas condiciones. Tal como nosotros ocasionalmente reseñamos y citamos contenidos de otras fuentes, respetamos el derecho de otros de hacer “usos justos” con nuestros contenidos. De esta forma, podrás ocasionalmente reseñar y citar contenido publicado en nuestro sitio, atendiendo siempre al principio de “usos justos”.</p>
 
<p>Mediante estas condiciones de uso, te otorgamos la licencia no exclusiva, y revocable a nuestro arbitrio, de enlazar a nuestro sitio desde cualquier otro sitio que no sea comercialmente competitivo con Entrecalle.com y cuyo fin no sea dañarnos ni producirnos cualquier tipo de perjuicio.</p>

<p>Esto, siempre y cuando el sitio donde el enlace reside cumpla con todas las leyes aplicables, y bajo ninguna circunstancia difame, amenace, acose o viole el derecho de privacidad, el derecho a la honra, la propiedad intelectual o cualquier derecho de otras personas.</p>

<p>No aceptamos enlaces de sitios que diseminen contenidos inapropiados, ofensivos, injuriosos, profanos, o que contengan información ilegal, o que transgredan el espíritu de nuestra misión.</p>

<p><strong>(c)</strong> No podrás usar cualquier tipo de dispositivo automático (como robots o arañas), o procedimiento manual, que permita o facilite la copia de nuestro sitio o su contenido, sin el consentimiento expreso y por escrito de Entrecalle.</p>

<p>Dicho lo anterior, Entrecalle.com otorga pleno permiso a los operadores de motores de búsqueda a emplear dispositivos automáticos para copiar el contenido de nuestro sitio para el único propósito de crear los índices que faciliten la búsqueda de contenidos por parte del público. Nos reservamos el derecho de revocar o limitar este permiso, de manera parcial o total, en cualquier momento.</p>

<p><strong>(d)</strong> No está permitido recolectar o capturar información personal desde nuestro sitio, incluyendo, pero no limitándose a, nombres de usuario, contraseñas, direcciones de correo electrónico, y cualquier otro tipo de información personal.</p>

<p><strong>(e)</strong> No podrás solicitar a otros usuarios ingresar o registrarse como miembros de cualquier servicio comercial o de otro tipo sin nuestra autorización expresa y por escrito.</p>

<p><strong>(f)</strong> No está permitido intentar interferir, por cualquier método, en el correcto funcionamiento de nuestro sitio.</p>

<p><strong>(g)</strong> No podrás extraer, mediante dispositivos automáticos o manuales, datos de uso de nuestro sitio.</p>

<p><strong>(h)</strong> Está prohibido emprender cualquier tipo de acción que restrinja o inhiba el uso y disfrute de nuestro sitio web.</p>

<p>Sin limitar la autoridad de la comunidad, Entrecalle por sí mismo no prohibirá que un usuario edite o contribuya, sino que se guiará por las solicitudes y reportes de la comunidad en acciones que violen estos términos o condiciones de uso o las políticas establecidas por la comunidad. En el interés de nuestros usuarios y de la misión de Entrecalle, en la circunstancia extrema en que cualquier persona tenga bloqueada su cuenta o acceso bajo esta disposición, a dicha persona le queda prohibido crear o usar otra cuenta o intentar generar contenido en Entrecalle, a menos que nosotros tengamos a bien conceder un permiso explícito a tal efecto.</p>

<p>La comunidad de Entrecalle podrá realizar acciones directas en cuando a reportar a usuarios que violen éstos Términos y condiciones de uso. Usted acepta cumplir con las decisiones finales de nosotros y nuestra comunidad respecto a disputas establecidas por la comunidad para la edición de contenido.<p>

<p><strong>9. Finalización de este acuerdo.</strong></p>
<p>Aunque esperamos que usted permanezca y continúe contribuyendo a Entrecalle hasta lograr ser un líder de opinión dentro de la comunidad, usted puede dejar de usar nuestros servicios en cualquier momento. En ciertas circunstancias (esperemos que improbables), puede que sea necesario que tanto nosotros o la comunidad, finalicemos parte o todos nuestros servicios, concluyamos estos términos de uso, bloqueemos su cuenta o acceso, o lo expulsemos como usuario. Si su cuenta o acceso es bloqueada, concluye de otro modo por cualquier razón, o se le impide continuar editando todo o parte del contenido; sus contribuciones permanecerán disponibles públicamente (según las políticas aplicables), y a menos que se lo notifiquemos de otro modo, usted podrá seguir accediendo a nuestras secciones del sitio para el único motivo de leer contenido disponible públicamente. </p>

<p>En dichas circunstancias, no obstante, puede que usted no tenga acceso a su cuenta o configuraciones. Nos reservamos el derecho de suspender o terminar los servicios en cualquier momento, con o sin causa, y con o sin notificación. Incluso luego de que su uso y participación se bloqueen o suspendan, estos Términos de uso seguirán en efecto en relación a sus disposiciones relevantes.</p>
<p>&nbsp;</p>

<p><strong>10. Renuncias</strong></p>
<p>Destacado para enfatizar
En Entrecalle, nos esforzamos al máximo para ofrecer contenidos valiosos, pero el uso de nuestros servicios es bajo su propio riesgo. Proveemos estos servicios bajo las cláusulas de "tal y como están" y "como estén disponibles". Por ello renunciamos expresamente a cualquier garantía expresa o implícita de todo tipo, incluyendo pero no limitando, las garantías implícitas de comercialización, idoneidad para un propósito particular y no infracción. No ofrecemos ninguna garantía de que nuestros servicios satisfagan sus necesidades, sean seguros, ininterrumpidos, precisos y sin errores, o que su información estará segura.</p>

<p>No somos responsables por el contenido, datos o acciones de terceros, y usted libera, a nuestros directores, funcionarios, empleados y agentes de cualquier reclamo y daños, tanto conocidos como desconocidos, que surjan o relacionados de alguna manera con cualquier reclamación que tenga contra cualquier tercero. Ningún consejo o información, ya sea oral o escrita, obtenida por usted de nosotros, a través de nuestros servicios, crea ningún tipo de garantía que no esté expresamente establecido en estos Términos y condiciones de uso.</p>

<p>Cualquier material descargado u obtenido a través del uso de nuestros servicios se realiza bajo su propia discreción y riesgo y usted será el único responsable de cualquier daño a su sistema informático o pérdida de datos que resulte de la descarga de dicho material. Usted acepta que no tenemos ninguna responsabilidad u obligación por la supresión o no almacenamiento o transmisión del contenido o la comunicación mantenida por el servicio. Nos reservamos el derecho a establecer límites sobre el uso y almacenamiento a nuestra discreción en cualquier momento con o sin previo aviso.</p>

<p>Algunas jurisdicciones no permiten renuncias en esta sección por lo que ésta puede no ser aplicable total o parcialmente para usted dependiendo de la ley que le sea aplicable.</p>
<p>&nbsp;</p>

<p><strong>11. Limitación de responsabilidad</strong></p>
<p>Destacado para enfatizar
Entrecalle no será responsable ante usted o cualquier otra parte por cualquier daño directo, indirecto, casual, especial, resultante o ejemplar, incluyendo pero no limitado a daños por pérdidas de ganancias, fondos, uso, datos u otras pérdidas intangibles, más allá de si nosotros fuimos advertidos de la posibilidad de dicho daño.</p>

<p>A través de estas condiciones de uso aceptas que Entrecalle no tiene ninguna obligación ni responsabilidad en relación al uso que los usuarios y otras terceras partes hacen de nuestro sitio.</p>

<p>A través de estas condiciones aceptas que deberás indemnizar o compensar a Entrecalle y sus afiliados, así como a sus accionistas, directores, ejecutivos, empleados y otros asociados, frente a cualquier daño, pérdida, gastos, costos o perjuicios que resulten de las transgresiones en que incurras a estas condiciones de uso.</p>
<p>&nbsp;</p>

<p><strong>12. Influencia del contenido hacia los usuarios.</strong></p>
<p>Alojamos una gran cantidad de información que refiere a temas profesionales, como asuntos históricos, legales, políticos, urbanos, sociales, económicos, culturales entre otros. Por lo cual, éste contenido se presenta solamente para uso informativo general. No se debería considerar como asesoramiento profesional y Entrecalle no se hace responsable del contenido mostrado en el sitio.. Por favor, busque asesoramiento profesional para conocer la veracidad de nuestra información.</p>

<p>No garantizamos que nuestro servicio pueda verse interrumpido ni que esté libre de errores. Podrían existir retrasos, omisiones, inexactitudes e imprecisiones en la información que publicamos en nuestro sitio.</p>

<p>No asumimos ni garantizamos ni respaldamos la exactitud del contenido o los mensajes relacionados con los bienes y servicios publicitados o anunciados directamente por Entrecalle o por los usuarios de nuestro sitio.</p>

<p>Aunque nos esforzamos por implementar todas las medidas y procedimientos que prevengan la introducción de virus y otros materiales destructivos o dañinos en nuestro sitio, no garantizamos que los materiales o contenidos que descargues  en nuestro sitio estén libres de ese tipo de archivos maliciosos o dañinos. No somos responsables por cualquier tipo de daños o perjuicios atribuibles a dichos materiales.
</p>
<p>Nuestro sitio contiene diversas combinaciones de textos imágenes, materiales audiovisuales, opiniones, afirmaciones, datos, precios, y otro tipo de información, ya sea creada por nosotros o por terceras partes. Dada la multiplicidad de fuentes de donde esa información proviene, y a las condiciones de la distribución electrónica de contenido, podrían producirse errores, retrasos, o inexactitudes en esas informaciones. Concordantemente, esa información es sólo referencial, y no ha sido creada para tomar decisiones de inversión ni para orientar ningún tipo de transacción.</p>
<p>&nbsp;</p>

<p><strong>13. Responsables por enlaces que conectan con otros sitios. </strong></p>
<p>No respaldamos ni garantizamos que la información creada por terceras partes que pueda ser consumida a través de nuestro sitio, o a través de links contenidos en nuestro sitio, sea exacta o esté libre de errores o imprecisiones. La responsabilidad por dicha información le pertenece sólo a dichas terceras partes.</p>

<p>No tenemos responsabilidad por la disponibilidad o el correcto funcionamiento del contenido o los servicios ofrecidos por otros sitios que pueden estar enlazados a nuestro sitio. En vista de que no tenemos control sobre dichos contenidos o servicios, tú aceptas que no somos responsables por su calidad ni exactitud. Adicionalmente, aceptas que no tenemos responsabilidad alguna, ni directa ni indirecta, por eventuales daños o perjuicios relacionados con el uso sitios, contenidos o servicios.</p>

<p>A través de éstas condiciones aceptas ser el único responsable por su uso de <em><strong>Entrecalle.com</strong></em><strong></strong></p>
<p>&nbsp;</p> 

<p><strong>14. Modificaciones a éstos Términos de uso.</strong></p>
<p>Así como el aporte de la comunidad de Entrecalle es esencial para el crecimiento de nuestro acervo colectivo, creemos que el aporte de la comunidad es esencial para que nuestros Términos de Uso sirvan a nuestros usuarios apropiadamente. Para cambios por razones legales o administrativas, para corregir una afirmación imprecisa, o cambios en respuesta a comentarios de la comunidad, nosotros tenemos la intención, mas no la obligación, de circular en nuestro sitio web un aviso con al menos un (1) día de antelación.</p>

<p>Te pedimos que por favor revises periódicamente la versión más actualizada de estos Términos de uso en Entrecalle.com. El continuar haciendo uso de nuestros servicios constituye una aceptación por tu parte, de nuestros Términos de uso. Si no aceptas nuestros Términos de uso, NO puedes usar nuestros servicios.</p>

                    </div>
      </div>
              
            </div>
    <!--end middle--> 
  </section>
          <!--end foot--> 
          
        </div>
<!--end wrapper-->

</body>
</html>
