<footer>
  <div id="txt_footer"><span class="blue">Entrecalle  
    <script type="text/javascript"> copyright=new Date(); actualiza=copyright.getFullYear(); document.write("Copyright " + "" + actualiza + "  " + "&copy;"); </script>
  </span> | Prohibida la copia parcial o total de este sitio web | <a href="/privacidad" target="_blank">Políticas de privacidad</a> y<a href="/terminos" target="_blank"> Términos de uso</a> | 
</div>
<div id="redes_footer">
  <ul id="social">
    <li class="show"></li>
    <li><a href="https://www.facebook.com/entrecalle" target="_blank"><img src="{{MEDIA_URL}}/images/icn_face.png" alt="fb" width="20" height="20" /></a></li>
    <li><a href="https://twitter.com/entrecalle" target="_blank"><img src="{{MEDIA_URL}}/images/icn_twitter.png" alt="twt" width="20" height="20" /></a></li>
    <li><a href="mailto:info@entrecalle.com"><img src="{{MEDIA_URL}}/images/mail.png" alt="mail" width="20" height="20"/></a></li>
  </ul>
</div>
</footer>
</section>
<!--end footer section--> 

</div>
<!--end wrapper--> 

</div>
<!--end content--> 

</div>
<!--end main-->

</body>
</html>